a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.search::-webkit-scrollbar {
  width: 12px;
}

.search::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 1px;
}

.search::-webkit-scrollbar-thumb {
  background-color: white;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 1px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
